<h2>All series of books</h2>

<div class="row">
  <% @collections.each do |collection| %>
      <div class="col-md-4 d-flex">
          <div class="card w-100 mb-4" >
            <div class="card-body flex-fill">
              <h2 class="card-title"><%= link_to collection.title, collection_path(collection) %></h2>  
                <p><%= collection.description %></p>
              </div>
          </div>
      </div>
    
  <% end %>
</div>

